
/**  
 * Page 前台分页 
 * @author 闭月 2012-4-17
 * @设计师 飞飞
 * @log:
 *    1.修复chrome异常 .mui-page-num .mui-page-skip设置左浮动 By 韦德明 2013-03-19
 */

.mui-page {
	margin-bottom:10px; 
	color:#999999; 
	font-size:14px;
	font-weight:bold;
	font-family:\5B8B\4F53,Helvetica,sans-serif;
}
.mui-page-wrap{/* 根据需要左右浮动 */}
.mui-page b{font-weight:normal;}
.mui-page a{color:#2953A6;cursor:pointer;text-decoration:none;}
.mui-page a:hover{background-color:#EFEFEF;text-decoration:underline;}

.mui-page a,
.mui-page b{float:left;}

/*for chrome bug by weideming*/
.mui-page-num,
.mui-page-skip{
    float: left;
    font-weight: normal;
}
/*End*/

.mui-page-prev,
.mui-page-next,
.mui-page a,
.mui-page-cur,
.mui-page-info,
.mui-page-skip{height:26px;width:auto;padding:12px 14px 0;line-height:18px;}

.mui-page-prev,
.mui-page-next,
a.mui-page-prev,
a.mui-page-next{padding:12px 10px 0;}

.mui-page-prev,.mui-page-next,.mui-page a,.mui-page-cur{background-color:#fff;border:1px solid #E5E5E5;border-left: 0;}
.mui-page-prev{border-left:1px solid #E5E5E5 !important;}
.mui-page-cur,b.mui-page-next,b.mui-page-prev{background-color:#EFEFEF;}
.mui-page-break{ border-right:1px solid #E5E5E5;padding:0 4px;line-height:40px; font-weight:bold}
.mui-page-num{padding-top:19px;background:url("http://a.tbcdn.cn/apps/tmall/mui/page/img/page.png") no-repeat right 0;}
.mui-page-skip{margin-top:19px;padding:10px 0 0 10px;}
.mui-page-skipTo{width:32px;height:18px;margin:-2px 2px 0;line-height:20px;font-size:16px;color:#999;text-align:center;vertical-align:middle;border:1px solid #ccc;}
.mui-page-skipBtn{margin:-2px 0 0 2px;}

